@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html{
    scroll-behavior: smooth; /*Its make the animation of scrolling when the user click on any button in the nav*/
}

body{
    overflow-x: hidden;
}

nav{
    background-color: orange;
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav .title{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

nav sub{
    font-size: 10px;
    text-transform: capitalize;
}

nav ul{
    margin: auto 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 10px;
}

nav ul li a:hover , .always-active{
    background-color: darkorange;
}

.form-se{
    width: 100%;
    height: 100vh;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button{
    outline: none;
    border: 2px solid orange;
    background-color: orange;
    padding: 10px;
    margin-left: 0px ;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.search_box{
    border: none;
    background: none;
    outline: none;
    background-color: white;
    border: 2px solid darkorange;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    padding: 10px;
    text-align: center;
}

.exp-se{
    width: 100%;
    height: 120vh;
    padding: 120px 20px;
    background-image: url(explore-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-exp-cont{
    margin-bottom: 40px;
}

.title-exp-cont p{
    color: white;
    background-color: darkred;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 30px;
    cursor: pointer;
}

.image-exp-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-exp-cont .cake{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.image-exp-cont div img{
    width: 100%;
    height: 100%;
}

.image-exp-cont .cake div{
    width: 50%;
    height: fit-content;
    background-color: #eee;
    padding: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.image-exp-cont .cake .title-up-cake{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    background-color: royalblue;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.image-exp-cont .cake div:hover{
    opacity: 0.8;
    background-color: red;
}

footer{
    padding: 100px 20px 20px 20px;
    width: 100%;
    height: fit-content;
    background-color: orange;
    text-align: center;
}

footer .footer-cont p{
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
}

::selection{
    background-color: black;
    color: rgb(255, 0, 255);
}

@media (max-width:540px){

    header nav{
        width: 100%;
        height: fit-content;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav .title{
        font-size: 17px;
        margin-bottom: 7px;
    }

    header nav ul{
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: row;
        align-items: center;
    }

    header nav ul li{
        margin: auto;
        display: flex;
        align-items: center;
    }

    header nav ul li a{
        margin: auto;
        font-size: 10px;
        padding: 7px;
    }

    .search_box{
        width: 72%;
    }

    .exp-se{
        padding-top: 100px;
    }

    .title-exp-cont p{
        font-size: 20px;
        margin-bottom: 40px;
    }

    .image-exp-cont .cake div img{
        width: 75px;
        height: 75px;
    }

    .image-exp-cont .cake div{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 20px 50px;
    }

    .image-exp-cont .cake .title-up-cake{
        width: fit-content;
        font-size: 10px;
    }

    footer{
        padding: 50px 20px 20px 20px;
    }

    footer .footer-cont p{
        font-size: 15px;
    }
}

@media (max-width:280px){

    .exp-se, .form-se ,footer{
        width: 125vw;
    }
}